<!DOCTYPE html>
<!-- Include your personal details here -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--  Bootstrap -->
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bootstrap.min.css" />
   @*  Font Awsome *@
   <link rel="stylesheet" asp-href-include="/lib/font-awsome/css/fontawsome.min.css" />
    <!-- Custom css -->
    <link rel="stylesheet" asp-href-include="/css/custom.css" />

</head>
<body>
    <nav class="navbar bg-dark navbar-dark navbar-expand-sm ">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/sallylogo.png" alt="Sally's Pie shop"
                     style="width: 40px" />
            </a>
            <!-- Toggler/collapsable Button-->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#MyNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu content that will collapse. Must have an ID -->
            <div class="collapse navbar-collapse" id="MyNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Featured</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Feedback" asp-action="SaveFeedback" class="nav-link">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- JavaScript -->
    <script asp-src-include="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

